.datetime {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: max-content;
    height: 57px;
}

.datetime .time {
    font-size: 1.2rem;
}

.dateText {
    font-size: 1.1rem;
}