.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    gap: 2rem;
    background: hsla(0, 0%, 100%, 0.13);
    border-radius: 12px;
    padding: 1rem;
    color: white;
}

.banner .typography {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.banner .typography .minmax {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner .typography .temperature {
    font-size: 6rem;
}

.banner .typography .minmax .label {
    font-size: 1.2rem;
}

.banner .typography .status {
    font-size: 1.2rem;
}

.banner .image img {
    width: 14rem;
}

@media (max-width: 800px) {
    .banner {
        gap: 1rem;
        padding: 2rem;
    }

    .banner .image img {
        width: 11rem;
    }

    .banner .typography .status,
    .banner .typography .minmax .label {
        font-size: 1rem;
    }

    .banner .typography .temperature {
        font-size: 4rem;
    }
}

@media (max-width: 650px) {
    .banner {
        padding: 1.2rem;
    }

    .banner .image img {
        width: 10rem;
    }

    .banner .typography .status,
    .banner .typography .minmax .label {
        font-size: 0.9rem;
    }

    .banner .typography .temperature {
        font-size: 3.6rem;
    }
}